.about-purchase__list {
  margin: 0;
  margin-top: 6px;
  margin-left: 17px;
  padding: 0;
  list-style: none;
}

.about-purchase__item {
  margin-bottom: 18px;
}

.about-purchase__link {
  color: #ffffff;

  &:hover {
    border-bottom: 1px solid #ffffff;
  }
}

@media (max-width: $tablet-width) {
  .about-purchase__list {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .about-purchase {
    margin-bottom: 37px;
  }
}
