.accordion {
  &--closed {
    &::before {
      right: 49px;
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &--filter-closed {
    &::before {
      right: 18px;
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &--closed + p {
    display: none;
  }

  &--filter-closed ~ div {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .accordion {
    &--closed {
      &::before {
        right: 45px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .accordion {
    &--closed {
      &::before {
        right: 21px;
      }
    }
  }
}
