.blog {
  margin-bottom: 119px;
  text-align: center;
}

.blog h2 {
  margin: 0;
  margin-bottom: 18px;
  font-family: $second-font;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #1d1613;
}

.blog__link {
  position: relative;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: #221b17;

  &::after {
    position: absolute;
    content: "";
    top: 28px;
    left: 4px;
    width: 64px;
    height: 1px;
    background-color: #a87b62;
  }

  &:hover {
    opacity: 0.7;

    &::after {
      top: 0;
    }
  }
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  margin: 0 auto;
  margin-top: 63px;
  padding: 0;
  max-width: 1400px;
  list-style: none;
}

.blog__item {
  &--small {
    grid-column: 1 / 2;
  }

  &--big {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    margin-left: auto;
  }
}

@media (max-width: $tablet-width) {
  .blog {
    margin-bottom: 70px;
  }

  .blog__list {
    display: block;
  }

  .blog__item {
    margin-bottom: 50px;
  }
}

@media (max-width: $mobile-width) {
  .blog {
    margin-bottom: 59px;
  }

  .blog__item {
    margin-bottom: 40px;
  }

  .blog__list {
    margin-top: 54px;
  }
}
