.blog-card {
  position: relative;
  display: flex;
}

.blog-card img {
  display: block;
}

.blog-card__textgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12%;
  min-width: 50%;
  background-color: #f0eae4;

  &--big {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 47.5%;
  }

  &--inverse {
    order: 1;
  }
}

.blog-card__textgroup h3 {
  margin: 0;
  margin-bottom: 11%;
  max-width: 163px;
  font-family: $second-font;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
}

.blog-card__textgroup p {
  margin: 0;
  margin-bottom: 4.1%;
  font-size: 14px;
  line-height: 18px;
  color: #9b9997;
  order: -1;
}

.blog-card__link {
  position: relative;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: #221b17;

  &::after {
    position: absolute;
    content: "";
    top: 29px;
    left: 4px;
    width: 97px;
    height: 1px;
    background-color: #a87b62;
  }

  &:hover {
    opacity: 0.7;

    &::after {
      top: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .blog-card img {
    width: 339px;
  }

  .blog-card__textgroup {
    padding-top: 10%;

    &--big {
      position: static;
      padding-top: 12.5%;
      height: auto;
      order: 1;
    }
  }

  .blog-card__textgroup h3 {
    margin-bottom: 9%;
  }
}

@media (max-width: $mobile-width) {
  .blog-card img {
    width: 737px;
  }

  .blog-card {
    flex-direction: column;
  }

  .blog-card__textgroup {
    padding-top: 45px;
    min-height: 256px;
    order: 1;

    &--big {
      padding-top: 62px;
    }
  }

  .blog-card__textgroup h3 {
    margin-bottom: 33px;
  }

  .blog-card__textgroup p {
    margin-bottom: 5%;
  }
}
