.catalog-form {
  margin-right: 50px;
}

.catalog-form__filter-close,
.catalog-form__filter-button {
  display: none;
}

@media (max-width: $tablet-width) {
  .catalog-form {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .catalog-form .catalog-form__filter-button {
    display: block;
    padding-top: 22px;
    padding-bottom: 21px;
  }
}

@media (max-width: $tablet-width) {
  .catalog-form {
    margin-bottom: 40px;
  }
}


