.catalog-filter__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  width: 250px;
  list-style: none;
}

.catalog-filter input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  z-index: 101;
}

.catalog-filter__item {
  position: relative;
  margin-bottom: -1px;
  padding-left: 24px;
  border: 1px solid #a87b62;
}

.catalog-filter__button {
  position: absolute;
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 92%;
  top: 10px;
  right: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 101;

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    right: 25px;
    background-color: #a87b62;
  }

  &::before {
    transform: rotate(45deg);
    right: 18px;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.catalog-filter__item div {
  margin-bottom: 6.5px;
  margin-left: 34px;

  &:last-child {
    margin-bottom: 24px;
  }
}

.catalog-filter__item h3 {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 19px;
  font-size: 16px;
  font-weight: 500;
}

.catalog-filter__item label {
  position: relative;
  letter-spacing: -0.07em;

  &::before {
    position: absolute;
    content: "";
    top: 4px;
    left: -25px;
    width: 16px;
    height: 16px;
    border: 1px solid #a87b62;
  }
}

.catalog-filter input[type="checkbox"]:checked + label {
  &::before {
    background-color: #a87b62;
  }
}

.catalog-filter__submit {
  margin-bottom: 25px;
}

.catalog-filter__close {
  display: none;
}

@media (max-width: $tablet-width) {
  .catalog-filter {
    display: none;

    &--open {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;

      div {
        max-width: min-content;
        box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
      }

      .catalog-filter__submit,
      .catalog-filter__reset {
        width: 420px;
      }

      .catalog-filter__close {
        display: block;
        position: absolute;
        top: 10px;
        left: 410px;
        width: 27px;
        height: 27px;
        background-color: #000000;
        border: none;
        border-radius: 50%;
        cursor: pointer;

        &::before,
        &::after {
          position: absolute;
          content: "";
          top: 12px;
          right: 3px;
          width: 20px;
          height: 2px;
          background-color: #ffffff;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        &:hover,
        &:focus {
          opacity: 0.7;
        }

        &:active {
          opacity: 0.4;
        }
      }
    }

    &--nojs {
      display: block;

      .catalog-filter__close {
        display: none;
      }

      .catalog-filter__submit,
      .catalog-filter__reset {
        width: 420px;
      }
    }
  }

  .catalog-filter__list {
    width: 420px;
  }

  .catalog-filter__item {
    border: none;
    border-bottom: 1px solid #a87b62;
  }
}
