.catalog-form {
  margin-top: 20px;
  margin-right: 50px;
}

.catalog-form__filter-close,
.catalog-form__filter-button {
  display: none;
}

.catalog-filter__list {
  padding: 0;
  list-style: none;
}

@media (max-width: $tablet-width) {
  .catalog-form__filter-button {
    display: block;
  }
}


