.contacts__list {
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__link {
  color: #ffffff;

  &:hover {
    border-bottom: 1px solid #ffffff;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    margin-bottom: 50px;
  }
}