.container-grid {
  &--catalog {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 79px;
  }

  &--footer {
    display: grid;
    grid-template-columns: 3.3fr 1.3fr 1fr 1fr;
    column-gap: 20px;
    padding-top: 89px;
    padding-bottom: 100px;
  }
}

@media (max-width: $tablet-width) {
  .container-grid {
    &--catalog {
      flex-direction: column;
      margin-top: 50px;
    }

    &--footer {
      grid-template-columns: 1fr 0.75fr 1fr;
      padding-top: 49px;
      padding-bottom: 38px;
    }
  }
}

@media (max-width: $mobile-width) {
  .container-grid {
    &--catalog {
      flex-direction: column;
      margin-top: 40px;
    }

    &--footer {
      display: block;
    }
  }
}
