.login-form {
  margin: 0 auto;
  max-width: 340px;
}

.login-form input {
  display: block;
  margin-bottom: 27px;
  padding-top: 6px;
  padding-bottom: 9px;
  width: 100%;
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1d1613;

  &:hover,
  &:focus {
    margin-bottom: 28px;
    border-bottom: none;
    box-shadow: 0 0 2px 3px #a87b62;
  }
}

.login-form input[type="password"] {
  margin-bottom: 0;

  &:hover,
  &:focus {
    margin-bottom: 1px;
  }
}

.login-form__forgot-link {
  display: block;
  margin-bottom: 44px;
  text-align: right;
  font-size: 12px;
  color: #9b9997;

  &:hover {
    color: #000000;
  }
}

.login-form button {
  margin-bottom: 13px;
}

.login-form__close {
  position: absolute;
  top: 16px;
  right: 17px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #1d1613;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.login-form__new {
  display: flex;
}

.login-form__new p {
  margin: 0;
  margin-right: 10px;
  margin-left: 53px;
  padding-top: 0;
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
}

.login-form__new-link {
  font-size: 14px;

  &:hover {
    color: #a87b62;
  }
}

@media (max-width: $tablet-width) { 
  .login-form__close {
    top: 12px;
    right: 14px;
    width: 33px;
    height: 33px;

    &::before,
    &::after {
      top: 15px;
      right: 2px;
      width: 27px;
      height: 3px;
    }
  }

  .login-form__new p {
    margin-right: 6px;
    margin-left: 58px;
    padding-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .login-form {
    max-width: 88.8%;
  }

  .login-form__close {
    top: 6px;
    right: 11px;
    width: 25px;
    height: 25px;

    &::before,
    &::after {
      width: 18px;
      height: 2px;
    }
  }

  .login-form input {
    margin-bottom: 22px;
  
    &:hover,
    &:focus {
      margin-bottom: 23px;
    }
  }

  .login-form__forgot-link {
    margin-bottom: 34px;
  }

  .login-form__new p {
    margin-left: 8px;
  }
}
