.page-header {
  margin-top: 30px;
  margin-bottom: 19px;

  &--catalog,
  &--card {
    margin-top: 42px;
  }

  &--card {
    margin-bottom: 89px;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    margin-bottom: 23px;

    &--card {
      margin-bottom: 44px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    margin-top: 20px;
    margin-bottom: 13px;
  }
}
