.page-header {
  margin-top: 30px;
  margin-bottom: 19px;

  &--catalog {
    margin-top: 42px;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    margin-bottom: 23px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    margin-top: 20px;
    margin-bottom: 13px;
  }
}
