.products {
  position: relative;
  margin-top: 119px;
  margin-bottom: 140px;
  text-align: center;

  &--card {
    margin-bottom: 150px;
  }
}

.products p {
  margin: 0;
  margin-bottom: 23px;
  font-family: $second-font;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #1d1613;
}

.products {
  &--card {
    p {
      margin-bottom: 18px;
    }
  }
}

.products__link {
  position: relative;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: #221b17;

  &::after {
    position: absolute;
    content: "";
    top: 24px;
    left: 4px;
    width: 80px;
    height: 1px;
    background-color: #a87b62;
  }

  &:hover {
    opacity: 0.7;

    &::after {
      top: 3px;
    }
  }
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin: 0;
  margin-top: 58px;
  padding: 0;
  list-style: none;

  &--card {
    margin-top: 63px;
  }
}

.products__item {
  &--group-3,
  &--group-4 {
    display: none;
  }

  &--slide-hide {
    margin-left: -300px;
    margin-right: 300px;
    opacity: 0;
    transition: 1s;
  }

  &--slide-show {
    display: block;

    transition: 0.5s;
  }

  &--hide {
    display: none;
  }

  &--show {
    display: block;
  }
}

.products__buttons {
  text-align: center;
}

.products__button-left,
.products__button-right {
  position: absolute;
  top: 0;
  cursor: pointer;
  stroke: #a87b62;
}

.products__button-left {
  left: 0;
  transform: rotate(180deg);
}

.products__button-right {
  right: 0;
}

@media (max-width: $tablet-width) {
  .products {
    margin-top: 70px;
    margin-bottom: 80px;

    &--card {
      margin-top: 66px;
    }
  }

  .products p {
    margin-bottom: 18px;
  }

  .products__link {
    &::after {
      top: 28px;
    }
  }

  .products__list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 52px;

    &--card {
      margin-top: 53px;
    }
  }

  .products__item {
    &--group-2 {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .products {
    margin-top: 61px;
    margin-bottom: 59px;

    &--card {
      margin-top: 50px;
    }
  }

  .products__list {
    margin-top: 42px;
  }
}
