.slogan-catalog {
  padding-top: 100px;
}

.slogan-catalog h1 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $second-font;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.slogan-catalog p {
  margin: 0;
  font-family: $second-font;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: $mobile-width) {
  .slogan-catalog {
    padding-top: 89px;
  }

  .slogan-catalog h1 {
    font-size: 34px;
  }
  
  .slogan p {
    font-size: 22px;
  }
}