.slogan {
  position: relative;
  z-index: 1;
  padding-top: 188px;
}

.slogan p {
  margin: 0;
  margin-top: -7px;
  text-align: center;
}

.slogan__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  font-family: $second-font;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.slogan__text {
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 49px;
  font-family: $second-font;
  color: #ffffff;
}

@media (max-width: $tablet-width) {
  .slogan {
    margin-left: -18px;
  }
}

@media (max-width: $mobile-width) {
  .slogan {
    margin-left: 0;
    padding-top: 197px;
  }

  .slogan p {
    margin-top: -13px;
  }

  .slogan__title {
    font-size: 38px;
  }

  .slogan__text {
    font-size: 34px;
  }
}
