.social-contacts__list {
  padding: 0;
  list-style: none;
}

.social-contacts__item {
  margin-bottom: 10px;
}

.social-contacts__link {
  color: #ffffff;

  &:hover {
    border-bottom: 1px solid #ffffff;
  }

  &--facebook {
    margin-left: 5px;
  }
}

.social-contacts__icon {
  fill: #ffffff;
}

.social-contacts__name {
  text-align: left;
  padding-left: 5px;
}

@media (max-width: $mobile-width) {
  .social-contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .social-contacts__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
  
  .social-contacts__name {
    display: none;
  }

  .social-contacts__icon {
    &--facebook {
      width: 12px;
      height: 21px;
    }

    &--instagram,
    &--pinterest {
      width: 20px;
      height: 21px;
    }

    &--twitter {
      width: 20px;
      height: 18px;
    }
  }
}