.social-contacts__list {
  padding: 0;
  list-style: none;
}

.social-contacts__item {
  margin-bottom: 10px;
}

.social-contacts__link {
  color: #ffffff;
}

.social-contacts__icon {
  fill: #ffffff;
}

@media (max-width: $mobile-width) {
  .social-contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .social-contacts__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
  
  .social-contacts__name {
    display: none;
  }
}