.swiper {
  position: relative;
}

.swiper__pagination {
  display: none;
  width: max-content;
  margin: 0 auto;

  &--show {
    display: block;
  }

  &--products {
    display: flex;
    justify-content: space-between;
  }

  &--products span {
    margin-right: 7px;
    padding: 3px;
    cursor: pointer;
  }
}

.swiper__pagination-bullet {
  color: #9b9997;

  &--active {
    color: #1d1613;
  }
}

@media (max-width: $tablet-width) {
  .swiper__pagination {
    &--products {
      left: 40.9%;
    }

    &--product-detailed {
      font-size: 14px;
    }
  }
}

@media (max-width: $mobile-width) {
  .swiper__pagination {
    &--products {
      left: 41.5%;
      letter-spacing: 2.3px;
    }

    &--product-detailed {
      position: relative;
      margin: 0 auto;
      margin-top: -24px;
    }
  }
}
