.swiper {
  position: relative;
}

.swiper__pagination {
  display: none;
  position: absolute;
  bottom: 0;
  left: 45%;

  &--show {
    display: block;
  }

  &--products {
    left: 47.7%;
    display: flex;
    justify-content: space-between;
  }

  &--products span {
    margin-right: 7px;
    padding: 3px;
    cursor: pointer;
  }
}

.swiper__button-prev,
.swiper__button-next {
  position: absolute;
  min-width: 40px;
  top: 34px;
  cursor: pointer;

  &:hover svg {
    stroke: #000000;
    transform: scale(1.3);
  }
}

.swiper__button-prev {
  transform: rotate(180deg);
  left: -21px;
}

.swiper__button-next {
  right: -5px;
}

.swiper__button-prev svg,
.swiper__button-next svg {
  stroke: #a87b62;
  ;
}

@media (max-width: $tablet-width) {
  .swiper__pagination {
    &--products {
      left: 40.9%;
    }
  }

  .swiper__button-prev,
  .swiper__button-next {
    top: 38px;
    width: 40px;
  }

  .swiper__button-prev svg,
  .swiper__button-next svg {
    width: 38px;
    height: 20px;
  }

  .swiper__button-prev {
    left: -2px;
  }
}

@media (max-width: $mobile-width) {
  .swiper__pagination {
    &--products {
      left: 41.5%;
      letter-spacing: 2.3px;
    }
  }

  .swiper__button-prev,
  .swiper__button-next {
    display: none;
  }
}
